<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="UTF-8">
    	<title>article</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="Cache" content="no-cache">
        <meta name="format-detection" content="telephone=no, email=no">
       
        <meta name=viewport content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
        
        <link rel="stylesheet" type="text/css" href="./../css/common.css">
        <link rel="stylesheet" type="text/css" href="./../css/adetail1.css">
        <script type="text/javascript">
            document.documentElement.style.fontSize = document.documentElement.clientWidth/16 + "px";
        </script>
    </head>
    <body>
    	<div class="box-wrap">
            <div class="header">
                <div class="title">
                    <span>程序员的你是否会幸福么？</span>
                </div>
                <div class="title-desc">
                    <span>佘金标</span>
                    <span>2017-10-22 10:10:10</span>
                    <span class="activered">今日头条</span>
                </div>
                <div class="title-label">
                    <span class="focus">
                        关注
                    </span>
                    <span class="author-img">
                        <a href="./author.html"><img  src="./../images/jackma.jpg" width="100%" height="100%"></a>
                        <div class="focus-author activered"></div>
                    </span>
                    
                </div>
            </div>
            <div class="content-area">
                文章内容
            </div>
            <div class="article-claim">
                该文章为原著者观点，如果该文章有违反行为，请及时反馈到官方处理。谢谢。
            </div>
            <div class="article-data">
                <span><a>501</a>阅读</span>
                <span><a>154</a>赞</span>
                <span><a>5</a>踩</span>
                <span>我要评论</span>
                <span class="activered">我要举报</span>
            </div>

            <div class="author-area">
                <div class="author-claim activered"> 
                    <span>作者空间</span>
                    <span>(该作者已XX网认证，XX网建议与作者私下交谈请不要时刻保持警惕，注意自己人生财产安全)</span>
                </div>
                <div class="author-img-wrap">
                    <ul>
                        <li>
                            <span>
                                <img src="./../images/jackma2.jpg" width="100%" height="100%">
                            </span>
                        </li>
                        <li>
                            <span>
                                <img src="./../images/jackma2.jpg" width="100%" height="100%">
                            </span>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="author-open-info">
                    <div>作者<span class="activered padding02">一骑红尘妃子笑</span>已公开个人信息。（xx网提醒，读者谨慎添加已公开个人信息账号，注意保障个人人身财产安全。）</div>
                    <span>一骑红尘妃子笑</span>
                    <span>微信:</span><span>454154651</span>
                    <span>qq:</span><span>3545412</span>
                </div>  
                <div class="related-news">
                    <div class="title">
                        更多文章
                    </div>
                    <div class="news">
                        <div class="img">
                            <img src="./../images/jackma2.jpg" width="100%" height="100%">
                        </div>
                        <div class="intro">
                            <div class="news-title">
                                湖南最牛的学校排名湖南最牛的学校排名湖南最牛的学校排名
                            </div>
                            <div class="news-info">
                                <span>三分一把刀</span>
                                <span>2018-01-01</span>
                                <span>8955</span><span>阅</span>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="img">
                            <img src="./../images/jackma2.jpg" width="100%" height="100%">
                        </div>
                        <div class="intro">
                            <div class="news-title">
                                湖南最牛的学校排名湖南最牛的学校排名湖南最牛的学校排名
                            </div>
                            <div class="news-info">
                                <span>三分一把刀</span>
                                <span>2018-01-01</span>
                                <span>8955</span><span>阅</span>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="img">
                            <img src="./../images/jackma2.jpg" width="100%" height="100%">
                        </div>
                        <div class="intro">
                            <div class="news-title">
                                湖南最牛的学校排名湖南最牛的学校排名湖南最牛的学校排名
                            </div>
                            <div class="news-info">
                                <span>三分一把刀</span>
                                <span>2018-01-01</span>
                                <span>8955</span><span>阅</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adver-area">
                    <!-- 广告种类0-->
                    <div class="adver-type-0">
                        动画广告区域
                    </div>
                    <!--广告种类1-->
                    <div class="adver-type-1">
                        <div class="type-1-title">
                            2018年未来的10件事情
                        </div>
                        <div class="type-1-item">
                            <div class="item-img-wrap">
                                <img src="./../images/jackma2.jpg" width="100%" height="100%">
                                <div class="item-type1-desc">
                                    <div class="desc-main">你知道如何成为一个号厨师？</div>
                                    <div class="desc-vice">你知道如何成为一个号厨师？</div>
                                </div>
                            </div>
                        </div>
                        <div class="type-1-item">
                            <div class="item-img-wrap">
                                <img src="./../images/jackma2.jpg" width="100%" height="100%">
                                <div class="item-type1-desc">
                                    <div class="desc-main">你知道如何成为一个号厨师？</div>
                                    <div class="desc-vice">你知道如何成为一个号厨师？</div>
                                </div>
                            </div>
                        </div>
                        <div class="type-1-item">
                            <div class="item-img-wrap">
                                <img src="./../images/jackma2.jpg" width="100%" height="100%">
                                <div class="item-type1-desc">
                                    <div class="desc-main">你知道如何成为一个号厨师？</div>
                                    <div class="desc-vice">你知道如何成为一个号厨师？</div>
                                </div>
                            </div>
                        </div>  
                        
                    </div>
                    <!--广告种类2  -->
                    <div class="adver-type-2">
                        <div class="adver-2-title">
                            说文解字
                        </div>
                        <div class="adver-2-word">
                            雄鹰展翅
                        </div>
                        <div class="adver-2-content">
                            1 雄鹰展翅代表大展宏图，鹏程万里。比喻某人在事业上、学业上等方面，奋力前进、敢于拼搏，以此迈向未来，如同雄鹰展翅翱翔一样。常用于祝贺语。
                            1 雄鹰展翅代表大展宏图，鹏程万里。比喻某人在事业上、学业上等方面，奋力前进、敢于拼搏，以此迈向未来，如同雄鹰展翅翱翔一样。常用于祝贺语。
                            
                        </div>
                    </div>
                    <!--广告种类3  -->
                    <div class="adver-type-3">
                        <div class="adver-3-title">
                            超级大卖场
                        </div>
                        
                        <div class="adver-3-content">
                           
                        </div>
                    </div>
                </div>  
            </div>

        </div>
    </body>
</html>